footer {
    background-color: black;
    height: 209px;
    text-align: center;
    img {
        margin: 60px 0 40px;
        height: 40px;
    }
    p {
        color: white;
        font-size: 24px;
    }
}