.loader {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 45vh 30vw;
}

.infoSection {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 30px;
        margin: 12px 0 7px 0;
    }
    p {
        font-size: 15px;
    }
    .profileInfo {
        display: flex;
        justify-content:right;
        align-items: center;
        p {
            width: min-content;
            text-align: right;
            margin-right: 15px;
        }
        img {
            width: 64px;
            height: 64px;
            border-radius: 40px;
        }
    }
}

.collapseSection {
    display:flex;
    gap: 70px;
    .notExpanded {
        background-color: white;
    }
    .content {
        font-size: 16px;
    }
    .collapseElement {
        flex: 1;
        margin: 0;
        h2 {
            font-size: 16px;
            font-weight: 500;
        }
        div {
            padding: 28px 18px;
        }
        .equipments {
            padding: 0;
            p {
            font-weight: 400;
            }
        }
        button {
            border-radius: 10px;
            span {
                font-size: 26px;
            }
        }
    }
}

